#frame {
    text-align: center;
    background-color: grey;
    border-color: black;
    border-style: solid 2px;
    border-radius: 15px;

}

#machine {
    text-align: right;
    margin-top: 10px;
}